 body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}
     .element-button{
      background-color: black;
      border-radius: 160px;
      border:3px, solid white;
      padding: 25px;
      cursor: pointer;
      margin-right: 10px;
      

     }
     .css-score{
      border: none;
      font-size: 15px;
      padding: 8px 15px;
      cursor: pointer;
      background-color: white;
      margin-top: 20px;
     }
     .css-result{
      font-weight: bold;
      margin-top: 25px;
     }
     .css-move{
       font-weight: bold;
     }
    .css-score1{
      margin-top: 20px;
      font-weight: bold;
    }